@import "tailwindcss";

:root {
    --royal-blue: #0e07dd;
    --royal-blue-dark: #261481;
    --royal-blue-light: #5a7ae8;
    --accent-red: #E63946;
    --accent-red-dark: #c1121f;
    --accent-red-light: #f28482;
    --white: #FFFFFF;
    --light-gray: #f8f9fa;
    --medium-gray: #e9ecef;
    --dark-gray: #343a40;
    --success: #2ecc71;
    --success-dark:#01923d;
    --warning: #f39c12;
    --danger: #e74c3c;
    --info: #3498db;
}